@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@500&display=swap");

.playfair {
  font-family: "Playfair Display", serif;
}

.lato {
  font-family: "Lato", sans-serif;
}

.link {
  text-decoration: none;
}
